.stat-cards-wrapper {
  position: relative;
  overflow: hidden;
  padding: 10px 0;
}

.stat-cards {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 10px 0;
  scroll-behavior: smooth;
}

.stat-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  min-width: 220px;
  flex-shrink: 0;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  height: 150px;
}

.stat-card:hover {
  transform: scale(1.05);
}

.stat-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.stat-card p {
  font-size: 22px;
  font-weight: bold;
}

/* Cores personalizadas para cada card */
.stat-card.total {
  background-color: #FF9800; 
  color: white;
}

.stat-card.active {
  background-color: #4CAF50; 
  color: white;
}

.stat-card.average-size {
  background-color: #03A9F4; 
  color: white;
}

.stat-card.unique-crops {
  background-color: #E91E63; 
  color: white;
}

.stat-card.oldest-garden {
  background-color: #9C27B0; 
  color: white;
}

.scroll-zone {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
  z-index: 2;
  cursor: pointer;
}

.scroll-zone.left {
  left: 0;
}

.scroll-zone.right {
  right: 0;
}

.scroll-zone:hover {
  background: linear-gradient(to right, rgba(255,255,255,0.5), transparent);
}



.charts {
  margin-top: 3rem;
}

.chart-box {
  background: #fff;
  border-radius: 16px;
  padding: 1.5rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
}

.chart-box h4 {
  margin-bottom: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
